body {
   
background-color: rgb(23, 71, 1);
color:rgb(233, 239, 243);
font-family: "EB Garamond", serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 300px; 
margin: 0;
}

button{
   background-color: rgb(235, 238, 240);
   color: rgba(0, 0, 0, 0.493);
   font-family: "EB Garamond", serif;
}

.passo {
   display: none;
}

.passo.ativo {
   display:block;
}

main{
   text-align: center;
   max-width: 90%;
}

img{
   max-width: 80%;
}


























